 .block {
   background: #c4c4c4;
   min-height: 100vh;
   display: flex;
 }

 .box-item {
   background: #00B63E;
   border: 1px solid #58595B;
   padding: 10px;
 }

 .box {
   width: 150px;

   &:nth-child(2) {
     margin: 0 10px;
     flex-basis: 200px;
     flex-grow: 2;
   }

   &:nth-child(1),
   &:nth-child(3) {
     flex-basis: 800px;
     flex-shrink: 5;
     flex-grow: 1;
   }
 }

